.image .secondImg{
    position: relative;
    top:0;
    left: 0;
    opacity: 1;
}
.image:hover .secondImg{
    position: absolute;
    top:0;
    left: 0;
    opacity: 1;
}
.prices{
    display: flex;
    gap: 10px;
}
.prices h3:first-child{
    text-decoration: line-through;
    color: gray;
}


